*
{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: "Montserrat", sans-serif;
    padding-left: 15px;
}

header
{
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    line-height: 80px;
}

.name
{
    display: inline-block;
    float: left;
    color: #000000;
    letter-spacing: 2px;
    font-size: 25px;
    font-weight: bolder;
}
.name span
{
    color: #984a7a;
    font-size: 35px;
}

.nav ul
{
    float: right;
    background-color: #cc74a1;
    height: 80px;
    margin-right: 450px;
}
.nav ul li
{
    display: inline-block;
    line-height: 80px;
}
ul li a
{
    display: inline-block;
    color: #ffffff;
    font-size: 20px;
    font-weight: normal;
    padding: 0 65px;
    border-right: solid 1px white;
}
a:hover
{
    background-color: #984a7a;
}

#About
{
    display: flex;
    width: 1888px;
    margin: 0;
    padding-top: 0;
}
#About .left
{
    height: 700px;
    display: inline-block;
    float: left;
    background-color: #000000;
    color: white;
    border-bottom: 0.5px solid white;
}
img
{
    height: 500px;
    width: 400px;
}
.info h4
{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    letter-spacing: 1px;
}
.info p
{
    font-size: 15px;
    padding: 10px 0 10px 90px;
}
.info a
{
    color: #cc74a1;
    background-color: #000000;
}
.info a:hover
{
    color: #cc74a1;
    background-color: #000000;
    font-weight: bold;
}
#About .right
{
    display: inline-block;
    float: right;
    height: 700px;
    background-color: #ece9e9;
}
.right h1
{
    font-size: 60px;
    padding-top: 60px;
    padding-left: 90px;
    font-weight: bolder;
    letter-spacing: 2px;
    color: #000000;
}
.right h3
{
    font-size: 25px;
    padding-top: 5px;
    padding-left: 90px;
    color: #5e5959;
    letter-spacing: 1px;
}
.right h2
{
    font-size: 60px;
    padding-top: 80px;
    color: #8a3f70;
    float: right;
    padding-right: 100px;
    padding-bottom: 10px;
}
.right p
{
    display: inline-block;
    text-align: justify;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 15px;
    font-size: 20px;
}

#Education
{
    height: 600px;
    width: auto;
    background-color: black;
    color: white;
}
#Education h1
{
    font-size: 60px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 60px;
}
.steps
{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}
.steps h2
{
    margin: 5px;
    font-size: 30px;
    text-align: center;
}
.steps h3
{
    margin: 5px;
    font-size: 23px;
    text-align: center;
    color: #6e6a6a;
}
.steps p
{
    font-size: 18px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
}
.steps .s
{
    width: 500px;
}

#Portfolio
{
    height: 700px;
    width: auto;
    background-color: white;
    color: black;
}
#Portfolio h1
{
    font-size: 60px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 60px;
}
.container
{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}
.container h2
{
    font-size: 45px;
    color: #8a3f70;
    text-align: left;
    border-bottom: solid 3px #8a3f70;
}
.item h3
{
    font-size: 20px;
    color: #232121;
    text-align: left;
    padding-top: 10px;
    font-weight: bold;
}
.item h4
{
    font-size: 18px;
    color: #cc74a1;
    text-align: left;
    padding-bottom: 10px;
}
.item li
{
    font-size: 18px;
    list-style-type: circle;

}
.item ul
{
    padding-bottom: 20px;
    padding-left: 20px;
}

#Contact
{
    height: 600px;
    width: 900px;
    background-color: #363333;
    color: #ffffff;
    margin-left: 495px;
    margin-bottom: 30px;
    border-radius: 15px;
}
#Contact h1
{
    font-size: 60px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}
form
{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 50px;
}
form div
{
    width: auto;
    height: 50px;
    padding-left: 30px;
    font-size: 19px;
}
input
{
    width: 835px;
    height: 40px;
    border-radius: 6px;
}
textarea
{
    width: 835px;
    height: 140px;
    border-radius: 6px;
}
label
{
    letter-spacing: 1px;
}
button
{
    width: 300px;
    height: 45px;
    font-size: 20px;
    border-radius: 6px;
    background-color: #8a3f70;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    border-color: #8a3f70;
}
.b
{
    padding-top: 85px;
    padding-left: 285px;
}




